<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
 
<p>Name: <input type="text" ng-model="name"></p>
<p>Comment: <input type="text" ng-model="comment"></p>
    <button type="button" class="btn" ng-click="submiteMyComment()">Sumite</button>
</div>



<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>



  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
        
    var header = {'Content-Type': 'application/json'};
    
    $scope.submiteMyComment = function(){
        var obj = {
            name : $scope.name,
            comment : $scope.comment
        }
        
      $http.put("http://localhost:3000/quotes", header, obj).then(function (response) {
          console.log(response);
      });
    };
    
    

});
</script>

</body>
</html>
