<link rel="stylesheet" href="../../styles/homePage.css" />
 <br> <br>

<div class="container">
    <div class="row"> 
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Put Your Name with Quotes.</h3>
                </div> 
                <div class="panel-body"> 
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <input class="form-control" placeholder="Enter Your Name..." name="tournamentHash" type="text" ng-model="mainObj.name" autofocus>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" placeholder="Enter Your Quotes..." name="tournamentHash" type="text" ng-model="mainObj.quote" autofocus>    
                                    </div> 
                                </div>
                                <div class="col-lg-12">
                                    <br>
                                    <button type="btn" align="right" class="btn" ng-click="postMyQuotes()">Post my Quotes</button>
                                    
                                    <img ng-if="mainObj.apiStatus == 'waiting'" style="width: 100px;" src="https://cdn.dribbble.com/users/359314/screenshots/2379673/untitled-3.gif" />
                                    <span ng-if="mainObj.apiStatus != 'waiting' && mainObj.apiStatus != 'success'" style="color:red;">
                                       <br> {{mainObj.apiStatus}}
                                    </span>
                                </div> 
                            </div>   
                </div>
            </div>

            <div class="login-panel panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">Quotes List.</h3>
                </div>  
                    <img  style="width: 100px;"  ng-if="mainObj.getListAPIStatus == 'waiting'" align="center"
                         src="https://cdn.dribbble.com/users/359314/screenshots/2379673/untitled-3.gif" /> 
                

                <div class="panel-body" ng-if="mainObj.getListAPIStatus == 'success'">
                    <table>
                    <tr>
                        <th>Index</th>
                        <th>User Name</th>
                        <th>Quotes</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="quotes in mainObj.quotesList">
                        <td>{{$index+1}}</td>
                        <td>{{quotes.name}}</td>
                        <td>{{quotes.quote}}</td> 
                        <td>
                            <button type="btn" class="btn button button3" ng-click="deleteMyQuote(quotes)"><i class="fa fa-trash-o" aria-hidden="true" ></i>Delete</button>
                        </td>
                    </tr> 
                    </table> 
                </div> 
                    <p class="panel-body" ng-if="mainObj.getListAPIStatus == 'failed'"> 
                        Be the first for put your quote.
                    </p> 
            </div> 
 
    </div>
</div>
